<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
  	<Logger name="org.springframework" level="INFO" additivity="false">
		<AppenderRef ref="Console"/>
  	</Logger>
  	<Logger name="org.springframework.security" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
  	</Logger>
  
	<Logger name="java.sql" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<Logger name="java.sql.Statement" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<Logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	
	<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<Logger name="org.hibernate.tool.hbm2ddl" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<!-- <Logger name="org.hibernate.type" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<Logger name="org.hibernate.stat" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	<Logger name="org.hibernate.type.BasicTypeRegistry" level="WARN" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger> -->
	
	<Logger name="io.github.majortim.quickstart" level="DEBUG" additivity="false">
		<AppenderRef ref="Console"/>
	</Logger>
	
    <Root level="ERROR">
      <AppenderRef ref="Console"/>
    </Root>
</Loggers>
</Configuration>